.modal{
	position: fixed;
	top     : 0;
	left    : 0;
	opacity : 0;
	z-index : -1;
	.transition(opacity);
	&.active{
		opacity: 1;
		z-index: 1000;
	}

	.modal-bg{
		position  : absolute;
		width     : 100vw;
		height    : 100vh;
		background: fadeout(@black, 10%);
	}

	.modal-body{
		@BG: @white;

		width     : 90%;
		min-width : 300px;
		max-width : 600px;
		margin    : 100px auto;
		background: @BG;
		border    : darken(@BG, 10%);
		overflow  : hidden;
		.rounded();

		> div{
			padding: 24px;
		}
		.modal-header{
			h1{
				color         : @fontColor_grey;
				text-transform: none;
				font-size     : 20px;
				i{
					margin-right: 10px;
				}
			}
		}
		.modal-content{
			background  : darken(@BG, 5%);
			border      : darken(@BG, 15%) solid 2px;
			border-left : none;
			border-right: none;

			.modal-content-wrap{
				max-width: 400px;
				margin   : 30px auto;
			}

			.title{
				font-size  : 14px;
				color      : @fontColor_black;
				font-weight: bold;

				@phone_BG: darken(@BG, 10%);
				@phone_BR: @BRadious;
				.phone,
				.phone-prefix{
					padding : 6px;
					overflow: hidden;
					border  : darken(@phone_BG, 25%) solid 1px;
				}
				
				.phone-prefix{
					margin-left: 12px; 
					background : darken(@phone_BG, 15%);
					.rounded(@phone_BR; 0; 0; @phone_BR);
				}
				.phone{
					background: @phone_BG;
					.rounded(0; @phone_BR; @phone_BR; 0);
				}
			}

			#code{
				display: flex;
				padding: 20px 0;
				input{
					font-size  : 24px;
					min-width  : 2em;
					width      : 2em;
					height     : 2em;
					line-height: 2em;
					text-align : center;
					margin     : 0 auto;
					&:first-child{ margin-left : 0; } 
					&:last-child { margin-right: 0; } 
				}
			}
			.option{
				i{
					margin-right: 10px;
					color: @themeColor_1;
				}
			}
		}
		.modal-footer{
			button{
				margin-right: 10px;
			}
			.link{
				margin: 14px 0;
				float: right;
			}

		}
	}
}