@import "assets/styles/abstracts/index.scss";

// Vars
$panel_mainColor: $white;
$panel_secColor: $white-dark;
$panel_gutter_x: 10px;
$panel_gutter_y: 14px;

// Block
.badget {
  position: relative;
  background: $background-2;
  padding: 0.6em;
  display: inline-flex;
  border: $border;
  border-radius: 5em $border-radius $border-radius 5em;
  text-transform: uppercase;
  // color: black;
}

.text {
  margin: 0.6em 0 0 0.8em;
}
.icon {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background: $themeColor-1-dark;
  @include background-cover();

  // specific currency images
  &__eur {
    background-image: url("./img/euro.svg");
  }
  &__gbp {
    background-image: url("./img/gbp.svg");
  }
}
