@font-face {
  font-family: "PostGrotesk-Medium";
  src: url("../../fonts/post-grotesk/PostGrotesk-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PostGrotesk-MediumItalic";
  src: url("../../fonts/post-grotesk/PostGrotesk-MediumItalic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PostGrotesk-Light";
  src: url("../../fonts/post-grotesk/PostGrotesk-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PostGrotesk-LightItalic";
  src: url("../../fonts/post-grotesk/PostGrotesk-LightItalic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PostGrotesk-Bold";
  src: url("../../fonts/post-grotesk/PostGrotesk-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PostGrotesk-BoldItalic";
  src: url("../../fonts/post-grotesk/PostGrotesk-BoldItalic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
