@import "assets/styles/abstracts/index.scss";

.modal {
}

.header {
  &_icon {
    color: $grey-dark;
    margin-right: 0.6em;
    font-size: 1.6em;
  }
  &_title {
    display: inline-block;
  }
  &_subtitle {
    max-width: 80%;
    display: block;
  }
}

.formOptions {
  &_option:nth-child(2) {
    float: right;
  }
  &_icon {
    margin-right: 4px;
    color: $themeColor-1;
  }
}
.footer_link {
  float: right;
  margin-top: 1em;
}

.content {
  max-width: 400px;
  margin: 24px auto;

  &_phone {
    top: 8px;
    margin-left: 12px;
  }
}
.code {
  padding: 24px 0;
  display: flex;

  &_field {
    text-align: center;
    width: 4em;
    margin: auto;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
