@import "assets/styles/abstracts/index.scss";

.infoPanel {
  padding: 32px 0;
}
.ammount {
  display: block;
  margin-top: 6px;
  font-size: 1.8em;
  color: $text-color-darker;
  font-family: $font-main;

  &_cents {
    font-size: 0.8em;
  }
}
.badget {
  position: absolute;
  top: 24px;
  right: 24px;
}
.footer {
  width: 100%;
  padding: 12px 0;
  margin: 16px 0 0;
  border-top: $border;

  &_links {
    float: right;
  }
  &_linkItem {
    margin-left: 24px;
  }
}
