.right{
	float: right;
}
.left{
	float: left;
}
.center{
	text-align: center;
}
.clear{
	clear: both;
}
.fullHeight{
	min-height: 100vh;
}
.parallax{
	.background-parallax('@{defImgDir}/header.png');
}


//---------------------
//--- General page ----
//---------------------

body{
	color      : @fontColor_black;
	font-family: post-grotesk;
	background : @themeColor_BG;
}

.header{
	background: @black;
	width     : 100%; 
	height    : @header_H;
	img{
		height: (@header_H * 0.9);
		margin: (@header_H * 0.05) 0;
	}
}


.paymentSteps{
	margin: 0 0 40px;
	.paymentStep{
		padding    : 0 24px 16px;
		font-weight: bold;
		color      : @fontColor_grey;
		&.active{
			color: @themeColor_1;
		}
	}
}

.mainContent,
.sideBar{
	padding: 0 40px;
}

.mainContent{

}
.sideBar{
	min-height :  ~"calc(100vh - @{header_H})";
	background : darken(@themeColor_BG, 5%);
	border-left: darken(@themeColor_BG, 20%) solid 2px;

	ul{
		@BG    :  @themeColor_BG;
		@border: darken(@BG, 15%) 2px solid;

		line-height: 2;
		background : @BG;
		border     : @border;
		overflow   : hidden;

		.rounded();
		li{
			padding      : 6px 20px;
			border-bottom: @border;
			&:last-child{ border: none; }
			&.title{
				color      : #000;
				font-weight: bold;
				background : darken(@BG, 10%);
			}
			&.footer{
				text-align: center;
				color     : @themeColor_2;
				strong{
					color: @themeColor_2;
				}
			}
		}
	}
}
.contentFooter{
	margin    : 60px 0;
	padding   : 10px 0;
	border-top: darken(@themeColor_BG, 20%) solid 1px;
	color     : @fontColor_grey;
	font-size : 14px;
	.links{
		float: right;
	}
}


.symbol{
	@h : 2em;

	position   : relative;
	font-size  : 20px;
	height     : @h;
	line-height: @h;
	width      : 3.5em;
	padding    : 0 .5em;
	text-align : right;
	font-weight: bold;
	box-sizing : content-box;
	background : darken(@themeColor_BG, 5%);
	border     : darken(@themeColor_BG, 20%) solid 2px;
	.rounded(@h; @BRadious; @BRadious; @h);
	&:after{
		content   : '';
		position  : absolute;
		top       : (0.25 * @h);
		left      : .5em;
		height    : (0.5 * @h);
		width     : (0.5 * @h);
		background: darken(@themeColor_BG, 20%);
		
		background-position: center center;
		background-repeat  : no-repeat;
		background-size    : cover;
		.rounded(50%);
	}

	&.eur:after{ background-image: url('@{iconsDir}/eur.jpg'); }
	&.gbp:after{ background-image: url('@{iconsDir}/gbp.png'); }
}