@import "assets/styles/abstracts/index.scss";

$bg_main: $background-1;
$bg_sec: $background-2;
$aside_w: 400px;

.App {
  min-height: 100vh;

  @include bp-md {
    background: linear-gradient(90deg, $bg_main 0%, $bg_main 60%, $bg_sec 60%);
  }
}

.header {
  position: sticky;
  max-height: 80px;
}
.body {
  max-width: $bp_lg;
  padding: 0;
  margin: auto;

  &_main,
  &_aside {
    padding: $content-gutter-y $content-gutter-x;
  }
  &_main {
    background: $bg_main;
    border-bottom: 2px $border-style $border-color;
  }
  &_aside {
    background: $bg_sec;
  }

  @include bp-md {
    display: flex;
    min-height: calc(100vh - 80px);

    &_main,
    &_aside {
      display: block;
      padding: 60px $content-gutter-x $content-gutter-y;
      min-height: 100%;
    }
    &_main {
      width: calc(100% - 400px);
      padding-right: 48px;
      border-bottom: 0;
      border-right: 2px $border-style $border-color;
    }
    &_aside {
      width: $aside_w;
      padding-left: 48px;

      position: sticky;
      top: 80px;
    }
  }
}
