@import "assets/styles/abstracts/index.scss";

$link_mainColor: $themeColor-1;
$link_secColor: darken($themeColor-1-dark, 20);

.link {
  text-decoration: none;
  color: $link_mainColor;
  outline: none;
  cursor: pointer;
  @include transition(color);

  &:hover,
  &:active,
  &:focus {
    color: $link_secColor;
  }
}
