@import "assets/styles/abstracts/index.scss";

// Vars
$panel_mainColor: $white;
$panel_secColor: $white-dark;
$panel_gutter_x: 16px;
$panel_gutter_y: 18px;

// Block
.panel {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.section {
  text-align: left;
  background: $panel_mainColor;
  border: $border;
  border-bottom-width: 0;
  padding: $panel_gutter_y $panel_gutter_x;

  // Modifiers
  &__theme_dark {
    background: $panel_secColor;
    color: $text-color-dark;

    @include fontBold();
  }
  &:first-child {
    border-radius: $border-radius $border-radius 0 0;
  }
  &:last-child {
    border-radius: 0 0 $border-radius $border-radius;
    border-bottom-width: $border-width;
  }
}
