@function smartColor(
  $colorBG: $background-1,
  $colorLight: $white,
  $colorDark: $black,
  $reference: 50
) {
  @if (lightness($colorBG) > $reference) {
    @return $colorDark;
  } @else {
    @return $colorLight;
  }
}
