/**
* TOC
*
* 1. Colors
* 2. Breakpoints
* 3. Borders
* 4. Fonts
* 5. Typography
* 6. Others
*/

/***********************/
/* ---- 1. Colors ---- */
/***********************/

$white: #fff !default;
$white-dark: #fbfbfb !default;
$black: #000 !default;
$grey: #ededed !default;
$grey-dark: #e0e0e0 !default;
$yellow: #ffd179 !default;
$blue: #6ec0e6 !default;
$blue_dark: #2b4d5c !default;
$blue_darker: #31313b !default;

// Theme Colors
$themeColor-1: $blue !default;
$themeColor-1-dark: darken($blue, 10%) !default;
$themeColor-1-darker: $blue_darker !default;
$themeColor-2: $yellow !default;

$background-1: $white !default;
$background-2: $white-dark !default;

$text-color: #999 !default;
$text-color-dark: #747474 !default;
$text-color-darker: #444 !default;
$text-color-light: $white !default;
$text-color-secondary: #5c6b7a !default;

// Status Color
$status-disabled: #e7eaef;
$status-disabled-bg: $status-disabled;
$status-disabled-text: #c8d4dd;

/* ********************* */
/* -- 2. Breakpoints --- */
/* ********************* */
$bp_xs: 767px !default;
$bp_sm: $bp_xs + 1 !default;
$bp_md: 992px !default;
$bp_lg: 1200px !default;
$prefix-xs: xs;
$prefix-sm: sm;
$prefix-md: md;
$prefix-lg: lg;

/* ******************** */
/* ---- 3. Borders ---- */
/* ******************** */
$border-radius: 4px !default;
$border-width: 1px;
$border-style: solid;
$border-color: $grey-dark;
$border: $border-style $border-width $border-color !default;

/* ********************* */
/* ------ 4. Fonts ----- */
/* ********************* */
$font-size-small: 0.75rem !default; // 12px
$font-size: 0.875rem !default; // 14px
$font-size-large: 16px !default; // 1rem
$font-size-heading: 1.25rem !default; // 20px
$font-size-page-header: 2rem !default; // 32px
$font-weight: 400 !default;
$font-weight-regular: $font-weight !default;
$font-weight-semi-bold: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-light: 300 !default;

/* ********************* */
/* --- 5. Typography --- */
/* ********************* */
$font-main: "PostGrotesk-Medium", sans-serif;
$font-italic: "PostGrotesk-MediumItalic", sans-serif;
$font-light: "PostGrotesk-Light", sans-serif;
$font-light-italic: "PostGrotesk-LightItalic", sans-serif;
$font-bold: "PostGrotesk-Bold", sans-serif;
$font-bold-italic: "PostGrotesk-BoldItalic", sans-serif;
$font-body-large: normal font-size $font-main;

/* ********************* */
/* ----- 6. Others ----- */
/* ********************* */
$content-gutter-x: 32px;
$content-gutter-y: 32px;
$panel-gutter-x: 20px;
$panel-gutter-y: 16px;
$transition-time: 0.3s;
$transition-timing: ease-out;
