/**
* TOC
*
* 1. Colors
* 2. Breakpoints
* 3. Borders
* 4. Fonts
* 5. Others
* 6. Typography
*/

/***********************/
/* ---- 1. Colors ---- */
/***********************/

// Primary
$main-color-dark: #1565c0 !default;
$main-color-darker: #0d47a1 !default;
$main-color-light: #d2e3ff !default;
$main-color-lighter: #dbe4f1 !default;
$main-color-lightest: #eff5fb !default;
$main-color-darkest: #0a3e67 !default;
$main-color: #2962ff !default;
$progress: #7bf264 !default;

// Background
$background-1: #f6f7f9 !default;
$background-2: #fafbfc !default;
$background-3: #e7eaef !default;
$background-4: #f9fafc !default;
$grey-darker: #384049 !default;
$grey: #c8d4dd !default;
$warning: #ffeb3b !default;
$white: #ffffff !default;
$black: #000 !default;

// NEWS
$whiteDark: #94aaba;
$blue: #6ec0e6;
$blue_dark: #2b4d5c;
$blue_darker: #213945;

$themeColor_1: $blue;

// Text
$text-color: #222b35 !default;
$text-color-dark: $text-color !default;
$text-color-light: $white !default;
$text-color-secondary: #5c6b7a !default;
$text-success-messaging: #0c7d6c !default;

/* ********************* */
/* -- 2. Breakpoints --- */
/* ********************* */
$bp_xs: 767px !default;
$bp_sm: $bp_xs + 1 !default;
$bp_md: 992px !default;
$bp_lg: 1200px !default;
$prefix-xs: xs;
$prefix-sm: sm;
$prefix-md: md;
$prefix-lg: lg;

/* ******************** */
/* ---- 3. Borders ---- */
/* ******************** */
$border-radius: 4px !default;
$border-width: 1px;
$border-style: solid;
$border-color: $grey;
$border: $border-style $border-width $border-color !default;

/* ********************* */
/* ------ 4. Fonts ----- */
/* ********************* */
$font-size-small: 0.75rem !default; // 12px
$font-size: 0.875rem !default; // 14px
$font-size-large: 16px !default; // 1rem
$font-size-heading: 1.25rem !default; // 20px
$font-size-page-header: 2rem !default; // 32px
$font-weight: 400 !default;
$font-weight-regular: $font-weight !default;
$font-weight-semi-bold: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-light: 300 !default;

/* ********************* */
/* ----- 5. Others ----- */
/* ********************* */
$content-gutter-x: 32px;
$content-gutter-y: 32px;
$panel-gutter-x: 20px;
$panel-gutter-y: 16px;
$transition-time: 0.3s;
$transition-timing: ease-out;

/* ********************* */
/* --- 6. Typography --- */
/* ********************* */
$font-main: "Roboto-Regular", sans-serif;
$font-italic: "Roboto-Italic", sans-serif;
$font-light: "Roboto-Light", sans-serif;
$font-light-italic: "Roboto-LightItalic", sans-serif;
$font-bold: "Roboto-Bold", sans-serif;
$font-bold-italic: "Roboto-BoldItalic", sans-serif;
$font-body-large: normal font-size $font-main;
