@import "assets/styles/abstracts/index.scss";

.tabs {
  position: relative;
  box-sizing: border-box;
}

.labels {
  display: flex;
  padding: 10px 0;
}

.labelItem {
  margin: auto;
  background: transparent;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  line-height: 1.6;
  color: $text-color;
  @include fontBold();

  &_step {
    display: block;
  }
  &__active {
    color: $themeColor-1;
    &:hover {
      color: $themeColor-1-dark;
    }
  }

  &:disabled {
    cursor: default;
  }
}

.contentWrapper {
  &_divider {
    width: 100%;
    height: 4px;
    border-radius: 8px;
    margin-bottom: 48px;

    // TODO: do this dinamic
    background: linear-gradient(
      90deg,
      $themeColor-1 0%,
      $themeColor-1 33%,
      mix($white, $themeColor-1, 70%) 33%
    );
  }
}
