@import "assets/styles/abstracts/index.scss";

.tabs {
  position: relative;
  box-sizing: border-box;
}

.labels {
  display: flex;
  padding: 10px 0;
}

.labelItem {
  margin: auto;
  background: transparent;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  line-height: 1.6;
  color: $text-color;
  @include fontBold();

  &_step {
    display: block;
  }
  &__active {
    color: $themeColor-1;
  }
  &:hover,
  &:active,
  &:focus {
    color: $themeColor-1-dark;
  }

  &:disabled {
    &,
    &:hover,
    &:active,
    &:focus {
      cursor: default;
    }
  }
}

.contentWrapper {
  &_divider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 4px;
    border-radius: 8px;
    margin-bottom: 48px;
    background: mix($white, $themeColor-1, 70%);

    &_progress {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0;
      background: $themeColor-1;
      @include transition(width);
    }
  }
}
